.theme-neon{
--primary:#00f0ff;
--secondary:#ff00ea;
}

.theme-aurora{
--primary:#00ff95;
--secondary:#00c3ff;
}

.theme-sunset{
--primary:#ff7300;
--secondary:#ff005d;
}

.theme-light{
--primary:#0077ff;
--secondary:#8f00ff;
background:#f4f7ff;
color:#111;
}
